# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# Visual Studio Code
# ==========================================

.vscode/

# ==========================================
# Logi
# ==========================================

*.log

# ==========================================
# Pliki tymczasowe
# ==========================================

*.tmp
*.bak