/*
========================================================
Nieco indziej
Plik        : variables.css
Opis        : Zmienne globalne projektu
Autor       : Paweł Janas
Wersja      : 1.0.0
Data        : 2026-07-10
========================================================
*/

:root {

    /* =====================================================
       UKŁAD
       ===================================================== */

    --header-height: 96px;
    --footer-height: 96px;

    --sygnet-size: 150px;

}