/* =====================================================
   HERO
   ===================================================== */

.hero {

    flex: 1;

    display: flex;

    margin-top: -96px;
    padding-top: 96px;

}

.hero img {

    display: block;

    width: 100%;
    height: auto;
    object-fit: cover;

}