html,
body {

    height: 100%;
    margin: 0;

}

body {

    display: flex;
    flex-direction: column;

    min-height: 100vh;

}

/* =====================================================
   HEADER
   ===================================================== */

header {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2rem;

    background-color: var(--menu-background);

    position: relative;
    z-index: 100;

}

/* =====================================================
   FOOTER
   ===================================================== */

footer {

    position: relative;

    height: var(--footer-height);

    padding: 0 3rem;
    display: flex;
    align-items: center;
    background: var(--menu-background);
    overflow: visible;


}

.footer-content {

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1400px;
    margin: 0 auto;

}

/* =====================================================
   SYGNET STOPKI
   ===================================================== */

.footer-sygnet {

    position: absolute;

    left: 50%;
    bottom: 12px;

    transform: translateX(-50%);

    width: var(--sygnet-size);
    height: var(--sygnet-size);

    z-index: 20;

}

.footer-sygnet svg {

    width: 100%;
    height: 100%;
    display: block;

}

main {

    flex: 1;

    display: flex;

}

.footer-left,
.footer-right {

    position: absolute;
    bottom: 0;

    width: 220px;
    height: 96px;

    display: flex;
    align-items: center;

}

.footer-left {

    left: 0;

}

.footer-right {

    right: 0;
    justify-content: flex-end;

}

.footer-left svg,
.footer-right svg {

    height: 80px;
    width: auto;

}